body {
  background-color: #333333;
  width: 100%; }

.app-wrapper {
  width: 1200px;
  margin: 50px auto; }
  .app-wrapper #canvas {
    display: block;
    width: 256px;
    height: 256px;
    background-color: black;
    float: right; }
  .app-wrapper .left-wrapper .action {
    color: white;
    font: normal 12px Verdana;
    border: 1px solid white;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    width: 100px; }
    .app-wrapper .left-wrapper .action.generative {
      background: blue; }
    .app-wrapper .left-wrapper .action.processive {
      background: red; }
  .app-wrapper .left-wrapper .navigation {
    padding-top: 10px;
    overflow: hidden;
    *zoom: 1; }
    .app-wrapper .left-wrapper .navigation li {
      display: inline-block;
      color: white;
      font: normal 12px Verdana;
      padding: 5px;
      border-radius: 2px;
      border: 1px solid white;
      float: left;
      margin: 3px;
      cursor: pointer; }
      .app-wrapper .left-wrapper .navigation li:hover, .app-wrapper .left-wrapper .navigation li.active {
        background-color: rgba(255, 255, 255, 0.2); }
  .app-wrapper .left-wrapper .workspace-wrapper {
    width: 850px;
    height: 500px;
    overflow: scroll;
    border: 1px solid rgba(255, 255, 255, 0.3); }
    .app-wrapper .left-wrapper .workspace-wrapper .workspace {
      background: rgba(0, 0, 0, 0.2);
      width: 1500px;
      height: 1500px;
      position: relative; }
      .app-wrapper .left-wrapper .workspace-wrapper .workspace * {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none; }
      .app-wrapper .left-wrapper .workspace-wrapper .workspace .action {
        position: absolute; }
        .app-wrapper .left-wrapper .workspace-wrapper .workspace .action.selected {
          box-shadow: white 0 0 0 3px inset; }
        .app-wrapper .left-wrapper .workspace-wrapper .workspace .action.watched {
          background-image: url("/images/icon-watched.png");
          background-position: right center;
          background-repeat: no-repeat; }
