/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #333333;
  width: 100%; }

strong {
  font-weight: bold; }

* {
  -webkit-font-smoothing: antialiased; }

.app-wrapper {
  width: 100%;
  padding: 20px 10px 0 10px;
  overflow: hidden;
  *zoom: 1;
  overflow: visible; }

.right-wrapper {
  float: right;
  width: 265px;
  height: 400px;
  position: relative; }
  .right-wrapper canvas {
    background: black;
    width: 256px;
    height: 256px;
    margin-top: 40px; }
  .right-wrapper .debug {
    font: normal 9px Verdana;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 10px;
    height: 11px; }
  .right-wrapper .samples {
    margin-top: 20px; }
  .right-wrapper .save-link, .right-wrapper .open-link, .right-wrapper .export-link {
    padding: 5px 10px;
    font: normal 10px Verdana;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
    .right-wrapper .save-link:hover, .right-wrapper .open-link:hover, .right-wrapper .export-link:hover {
      background: rgba(255, 255, 255, 0.5); }
  .right-wrapper input#file {
    position: absolute;
    left: 52px;
    top: 323px;
    width: 50px;
    height: 22px;
    overflow: hidden;
    opacity: 0; }

ul.nav {
  float: left;
  margin-left: 20px; }
  ul.nav li a {
    display: block;
    font: bold 13px "Helvetica Neue", Helvetica, Arial;
    color: white;
    padding: 17px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none; }
    ul.nav li a:hover {
      background: rgba(0, 0, 0, 0.3); }

header, .sidebar {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 50px; }
  header .header-wrapper, header.sidebar, .sidebar .header-wrapper, .sidebar.sidebar {
    padding: 0 10px; }
    header .header-wrapper .logo, header.sidebar .logo, .sidebar .header-wrapper .logo, .sidebar.sidebar .logo {
      width: 100px;
      height: 50px;
      background: url("/images/logo.png") no-repeat center center;
      display: block;
      float: left;
      margin-right: 10px; }
    header .header-wrapper .claim, header .header-wrapper .authors, header.sidebar .claim, header.sidebar .authors, .sidebar .header-wrapper .claim, .sidebar .header-wrapper .authors, .sidebar.sidebar .claim, .sidebar.sidebar .authors {
      float: left;
      font: normal 9px Verdana;
      color: white;
      margin-top: 19px;
      opacity: 0.7; }
    header .header-wrapper .authors, header.sidebar .authors, .sidebar .header-wrapper .authors, .sidebar.sidebar .authors {
      float: right; }
      header .header-wrapper .authors a, header.sidebar .authors a, .sidebar .header-wrapper .authors a, .sidebar.sidebar .authors a {
        color: #398cf2;
        text-decoration: none; }
        header .header-wrapper .authors a:hover, header.sidebar .authors a:hover, .sidebar .header-wrapper .authors a:hover, .sidebar.sidebar .authors a:hover {
          color: #70b0ff; }

.navigation {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
  overflow: visible;
  height: 30px; }
  .navigation .type {
    font: bold 10px Verdana;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    float: left;
    width: 85px;
    padding: 9px 25px 8px 10px;
    text-align: center;
    background: black;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset;
    margin-right: 10px;
    cursor: pointer;
    position: relative; }
    .navigation .type .arrow {
      position: absolute;
      right: 10px;
      top: 12px; }
    .navigation .type.generative {
      background: #3e92f7;
      background: -moz-linear-gradient(top, #3e92f7 0%, #0458bd 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3e92f7), color-stop(100%, #0458bd));
      background: -webkit-linear-gradient(top, #3e92f7 0%, #0458bd 100%);
      background: -o-linear-gradient(top, #3e92f7 0%, #0458bd 100%);
      background: -ms-linear-gradient(top, #3e92f7 0%, #0458bd 100%);
      background: linear-gradient(to bottom, #3e92f7 0%, #0458bd 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e92f7', endColorstr='#0458bd',GradientType=0 );
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 3px 0 #123866; }
    .navigation .type.processive {
      background: #f73e3e;
      background: -moz-linear-gradient(top, #f73e3e 0%, #bd0404 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f73e3e), color-stop(100%, #bd0404));
      background: -webkit-linear-gradient(top, #f73e3e 0%, #bd0404 100%);
      background: -o-linear-gradient(top, #f73e3e 0%, #bd0404 100%);
      background: -ms-linear-gradient(top, #f73e3e 0%, #bd0404 100%);
      background: linear-gradient(to bottom, #f73e3e 0%, #bd0404 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f73e3e', endColorstr='#bd0404',GradientType=0 );
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 3px 0 #831010; }
    .navigation .type.memory {
      background: #f7b43e;
      background: -moz-linear-gradient(top, #f7b43e 0%, #bd7a04 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7b43e), color-stop(100%, #bd7a04));
      background: -webkit-linear-gradient(top, #f7b43e 0%, #bd7a04 100%);
      background: -o-linear-gradient(top, #f7b43e 0%, #bd7a04 100%);
      background: -ms-linear-gradient(top, #f7b43e 0%, #bd7a04 100%);
      background: linear-gradient(to bottom, #f7b43e 0%, #bd7a04 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7b43e', endColorstr='#bd7a04',GradientType=0 );
      box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 3px 0 #7f550d; }
    .navigation .type .types {
      position: absolute;
      top: 26px;
      left: 0px;
      background: #e9e9e9;
      text-align: left;
      font: normal 10px Verdana;
      color: black;
      text-shadow: 1px 1px 0 white;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      width: 120px;
      display: none;
      z-index: 5;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2) inset; }
      .navigation .type .types li {
        padding: 8px 10px;
        width: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); }
        .navigation .type .types li:hover {
          background: rgba(0, 0, 0, 0.1); }
    .navigation .type:hover .types {
      display: block; }

.selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 8;
  display: none; }

.workspace-wrapper {
  width: 675px;
  height: 600px;
  background: #232323;
  overflow: scroll;
  border-radius: 3px;
  z-index: 1;
  position: absolute; }
  .workspace-wrapper .workspace {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .workspace-wrapper .grid {
    position: absolute;
    z-index: 1; }
    .workspace-wrapper .grid .grid-row {
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      border-style: inset; }
    .workspace-wrapper .grid .grid-col {
      position: absolute;
      top: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.05); }
  .workspace-wrapper .popup {
    border-radius: 3px;
    position: absolute;
    width: 200px;
    display: none;
    background: white;
    padding: 5px;
    font: normal 11px Verdana;
    z-index: 5; }
    .workspace-wrapper .popup.errors {
      border: 3px solid #db2222; }
    .workspace-wrapper .popup.warnings {
      border: 3px solid #a08116; }
  .workspace-wrapper .action {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 4;
    width: 112px;
    font: bold 10px Verdana;
    color: black;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border-radius: 2px;
    padding-bottom: 2px;
    cursor: move; }
    .workspace-wrapper .action .wrapper {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, #b1b1b1 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #b1b1b1));
      background: -webkit-linear-gradient(top, #eeeeee 0%, #b1b1b1 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, #b1b1b1 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, #b1b1b1 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, #b1b1b1 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#b1b1b1',GradientType=0 );
      padding: 6px 12px;
      border-radius: 3px; }
      .workspace-wrapper .action .wrapper .dragger {
        position: absolute;
        top: 0;
        right: 0;
        background: url("/images/icon-dragger.png") no-repeat center center;
        width: 4px;
        height: 15px;
        padding: 5px;
        cursor: ew-resize; }
    .workspace-wrapper .action.watched .wrapper .watched-icon {
      display: block;
      background: url("/images/icon-watched.png") no-repeat center center;
      width: 16px;
      height: 10px;
      position: absolute;
      right: 10px;
      top: 8px; }
    .workspace-wrapper .action.generative {
      background: #1d71d6;
      box-shadow: 0 2px 0 #094893; }
      .workspace-wrapper .action.generative.selected .wrapper {
        box-shadow: 0px 0px 0px 30px rgba(29, 113, 214, 0.3) inset; }
    .workspace-wrapper .action.processive {
      background: #db2222;
      box-shadow: 0 2px 0 #831010; }
      .workspace-wrapper .action.processive.selected .wrapper {
        box-shadow: 0px 0px 0px 30px rgba(219, 34, 34, 0.3) inset; }
    .workspace-wrapper .action.memory {
      background: #bd7a04;
      box-shadow: 0 2px 0 #7f550d; }
      .workspace-wrapper .action.memory.selected .wrapper {
        box-shadow: 0px 0px 0px 30px rgba(189, 122, 4, 0.3) inset; }
    .workspace-wrapper .action.warning .wrapper {
      color: #a08116; }
    .workspace-wrapper .action.error .wrapper {
      color: #db2222; }

.colorpicker {
  z-index: 10; }

.workspace-wrapper .parameters {
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 5px;
  padding: 15px;
  position: absolute;
  font: normal 11px Verdana;
  overflow-y: scroll;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2) inset;
  display: none;
  z-index: 6; }
  .workspace-wrapper .parameters ul li {
    overflow: hidden;
    *zoom: 1;
    height: 30px; }
    .workspace-wrapper .parameters ul li .label {
      width: 80px;
      float: left; }
    .workspace-wrapper .parameters ul li input {
      float: left; }
    .workspace-wrapper .parameters ul li .value {
      float: left;
      padding: 3px;
      font: normal 9px Verdana; }
    .workspace-wrapper .parameters ul li .colorpicker-control {
      width: 16px;
      height: 16px;
      float: left;
      border-radius: 3px;
      border: 3px solid rgba(0, 0, 0, 0.3);
      cursor: pointer; }

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px !important;
  height: 100%;
  padding-left: 20px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto; }
  .sidebar .logo, .sidebar .authors {
    float: none !important; }
  .sidebar .sidebar-contents {
    padding-left: 10px;
    padding-top: 50px; }
    .sidebar .sidebar-contents .group {
      font: bold 14px Helvetica Neue, Helvetica, Arial;
      color: white; }
    .sidebar .sidebar-contents ul {
      padding: 10px; }
      .sidebar .sidebar-contents ul li a {
        font: normal 12px Helvetica Neue, Helvetica, Arial;
        color: white; }
        .sidebar .sidebar-contents ul li a:hover {
          text-decoration: none; }

.content {
  margin-left: 250px;
  padding: 20px;
  color: white; }
  .content .logo {
    display: block;
    margin: auto;
    margin-bottom: 50px; }
  .content h2, .content h3 {
    font-weight: bold;
    font-family: Helvetica Neue, Helvetica, Arial;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .content h2 {
    font-size: 24px; }
  .content h3 {
    font-size: 16px;
    margin-bottom: 5px; }
  .content section {
    font: normal 13px Helvetica Neue, Helvetica, Arial;
    color: white;
    width: 500px;
    margin-bottom: 30px; }
    .content section a {
      color: white; }
      .content section a:hover {
        text-decoration: none; }
    .content section .source {
      display: block;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      padding: 4px; }
